
<article>
            <form
            class="form"
            action="#"
            name="form_productocategoria"
            id="form_productocategoria"                    
            >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="categoria">Categoria:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="categoria"
                            id="productocategoria_categoria"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    




            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-12">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="productocategoria_descripcion"
                            />
                    </div>
                </div>    
            </div>



        </form>

</article>

<article id="productocategoria-acciones">
    <pre></pre>
</article>
                


<article id="productocategoria-tabuladores">
    <pre></pre>
</article>
                
