
<article>
    
            <form
                class="form"
                action="#"
                name="form_preciocategoria"
                id="form_preciocategoria"                    
            >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="preciocate">Categoria:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="precio_categoria"
                            id="preciocategoria_precio_categoria"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    




            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-12">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="preciocategoria_descripcion"
                            />
                    </div>
                </div>    
            </div>



        </form>

    
</article>



<article id="preciocategoria-acciones">
    <pre></pre>
</article>
                


<article id="preciocategoria-tabuladores">
    <pre></pre>
</article>
                
